@use "../base/mixins";

.cui-form-field-base {
    background: #fff;
    border: solid 1px var(--base-border-color);
    border-radius: var(--base-border-radius);
    pointer-events: none;
    position: relative;
    width: auto;
    display: flex;
    padding: 0 var(--form-field-padding);
    transition: all .1s ease-in-out;

    .cui-form-field-actions {
        align-self: center;
        pointer-events: auto;
        margin-left: var(--form-field-padding);
    }

    &:hover {
        border-color: var(--base-border-hover-color);
    }

    &.cui-focused {
        border-color: var(--primary-color);

        .cui-form-field-label {
            color: var(--primary-color);
        }
    }

    &.cui-focused, &.cui-has-value {
        .cui-form-field-label {
            transform: translateY(calc((var(--form-field-padding) / 2) / 2));
            top: 0;
            font: {
                size: 0.8rem;
            }
        }
    }

    &.cui-floating-label .cui-form-field  {
        padding: calc(var(--form-field-padding) + (var(--form-field-padding) / 2)) 0 calc(var(--form-field-padding) / 2);
    }

    &:not(.cui-floating-label) .cui-form-field {
        padding: var(--form-field-padding) 0;
    }

    .cui-form-field {
        background: none;
        border-radius: var(--base-border-radius);
        border: none;
        outline: none;
        width: 100%;
        font: {
            size: var(--form-field-font-size);
            weight: var(--form-field-font-weight);
        }
        pointer-events: auto;
    }

    .cui-form-field-label {
        font: {
            size: var(--form-field-font-size);
        }
        color: mixins.color('gray', 700);
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all .1s ease-in-out;
    }
}
