@use "../base/mixins";

.page {
    background: var(--page-background-color);

    .page-header {
        border-bottom: solid 1px var(--base-border-color);
        padding-top: var(--page-gutter);
        padding-right: var(--page-gutter);
        padding-left: var(--page-gutter);

        &:not(.with-title) {
            padding-bottom: var(--page-gutter);
        }

        .page-header-title {
            font-size: 2rem;
            color: mixins.color('gray', 900);
            font-weight: normal;
            margin: 0;
            padding-bottom: var(--page-gutter);
        }
    }

    .page-content {
        padding: var(--page-gutter);
    }
}
