@use "../base/mixins";

.page {
    display: flex;

    .page-main {
        display: flex;
        flex-direction: column;
        flex: 1 1 100%;
    }

    .page-header {
        border-bottom: solid 1px var(--base-border-color);
        padding-right: var(--page-gutter);
        padding-left: var(--page-gutter);
        height: var(--page-header-height);
        display: flex;
        align-items: center;

        .page-header-title {
            font-size: 2rem;
            color: mixins.color('gray', 900);
            font-weight: normal;
            margin: 0;
        }
    }

    .page-content {
        padding: var(--page-gutter);
    }

    .page-side {
        flex: 1 1 auto;
        background: var(--page-side-background-color);

        &.page-side-right {
            border-left: solid 1px var(--page-side-border-color);
        }

        &.page-side-left {
            border-right: solid 1px var(--page-side-border-color);
        }

        &.page-side-fixed {
            align-self: flex-start;
            position: sticky;
            top: 0; /* required */
        }
    }
}
