html {
    font-size: var(--base-font-size);
}

body {
    background: var(--base-body-background);
    color: var(--base-font-color);
    margin: var(--base-body-gutter);
    font: {
        family: var(--base-font-family);
    }
}
