html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--base-body-background);
    color: var(--base-font-color);
    margin: var(--base-body-gutter);
    line-height: 1.2rem;
}
