html {
    font-size: var(--base-font-size);
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

body {
    background: var(--base-body-background);
    color: var(--base-font-color);
    margin: var(--base-body-gutter);
    font: {
        family: var(--base-font-family);
    }
    line-height: 1.2rem;
}
